body   {

    background-color: rgb(255, 255, 255);
}

header {
    display: flex;
    justify-content: space-between;
}
.logo {
display: flex;

}
.logo img {
    width: 100px;
    height: auto;
    
}